/* Левая сторона страницы - Описание игры */
.leftSide {
  padding: 70px 10px 0 10px;
  /* width: 14%; */
  min-width: 240px;
  max-width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #efeeee;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Левая сторона страницы - Настройки импорта */
.leftSideImport {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 1px solid red; */
}

.importSettingsContainer {
  width: 100%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.importTittle {
  margin-bottom: 10px;
  padding: 0 16px 5px 16px;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.radioContainer {
  width: 100%;
  margin: 5px 0;
  padding: 14px 2px 5px 2px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.notationContainer {
  width: 100%;
}

.radioTittle {
  position: absolute;
  padding: 0 6px;
  top: 0%;
  left: 50%;
  background-color: #efeeee;
  color: #000;
  font-size: 14px;
  transform: translate(-50%, -50%);
}

.radioWrapper {
  margin-right: 8px;
}

.radioWrapperLast {
  margin-right: 0;
}


.radioInput {
  display: none;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.radioLabel {
  display: flex;
  height: 100%;
  padding: 0px 8px;
  width: 100%;
  /* background-color: transparent; */
  border-width: 0;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  margin: 0;
  user-select: none;
  transition: background-color .15s ease-in-out;
}

.radioInput:checked+.radioLabel {
  border: 1px solid #464451;
  background-color: #fff;
}

/* Кнопка импорта тесктового файла */

.fileSourceBtn {
  width: 150px;
  min-width: 150px;
  margin: 10px auto;
  background-color: #23282B;
  border-radius: 6px;
  position: relative;
  color: #fff;
  transition: background-color .15s ease-in-out;
  user-select: none;
}

.fileInput {
  display: none;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.fileBtn {
  background-image: none;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 5px 10px;
  width: 100%;
}

.fileSourceBtn .fileBtn {
  background-color: transparent;
  border-radius: 6px;
  border-width: 0;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  margin: 0;
  transition: background-color .15s ease-in-out;
}

/* Кнопка экспорта */
.leftSideExport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fileExportBtn {
  width: 150px;
  min-width: 150px;
  margin: 10px auto;
  background-color: white;
  position: relative;
  border: 1px solid black;
  border-radius: 6px;
  /* color: black; */
  transition: background-color .15s ease-in-out;
  user-select: none;
}

.fileInput {
  display: none;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.fileBtn {
  background-image: none;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 5px 10px;
  width: 100%;
  text-decoration: none;
}

.fileExportBtn .fileBtn {
  background-color: transparent;
  border-radius: 6px;
  border-width: 0;
  cursor: pointer;
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  transition: background-color .15s ease-in-out;
}

/* Правая сторона страницы - Таблица и График */
.rightSide {
  position: fixed;
  top: 50px;
  left: 240px;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
}

/* Таблица */
.tableContainer {
  min-width: 670px;
  width: 40%;
  height: 100%;
}

/* График */
.graphContainer {
  min-width: 900px;
  position: relative;
  padding: 0;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* Корни уравнения - listbox */
.rootsContainer {
  min-width: 190px;
  position: absolute;
  top: 6px;
  /* right: 100px; */
  right: 10%;
  margin-top: 5px;
  z-index: 1000;
}

.listboxBtnWrapper {
  position: relative;
}

.listboxBtn {
  position: relative;
  width: 100%;
  cursor: default;
  border-radius: 0.5rem;
  background: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  text-align: left;
  border: none;
  color: black;
  font-size: 14px;
}

.chevronUpDownWrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 8px;
  pointer-events: none;
}

.listboxOptions {
  position: absolute;
  margin-top: 0.25rem;
  /* max-height: 60px; */
  width: 100%;
  overflow: auto;
  border-radius: 0.375rem;
  background: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-color: rgb(0 0 0); */
}

.hidden {
  display: none;
}

.listboxOption {
  width: 100%;
  position: relative;
  cursor: default;
  user-select: none;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}

.listboxOption:hover {
  background: #efeeee;
}

.listboxItem {
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.active {
  color: black;
  font-weight: 700;
}

.selectedCheckIconWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  color: #000;
}

.rootsLabel {
  /* margin-right: 10px; */
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.rootsCombobox {
  width: 100%;
  font-size: 14px;
  text-align: center;
  user-select: none;
}

/* Коэффициент детерминации и СКО */
.skoContainer {
  /* min-width: 670px; */
  width: 100%;
  /* height: 100%; */
  /* margin-top: 10px; */
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #efeeee;
}

.skoStraight {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.skoTittle {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.skoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.skoLabel {
  /* display: flex; */
  /* height: 100%; */
  margin: 0;
  padding-left: 4px;
  padding-right: 8px;
  /* width: 100%; */
  /* background-color: transparent; */
  /* border-width: 0; */
  /* border-radius: 6px; */
  cursor: pointer;
  color: #000;
  font-size: 18px;
  user-select: none;
  transition: background-color .15s ease-in-out;
}

.sko {
  width: auto;
  /* margin: 10px 0; */
  padding: 5px;
  font-size: 16px;
  text-align: center;
  color: black;
  border: none;
  border: 1px solid black;
  border-radius: 4px;
}

/* Правая сторона страницы - Настройки решателя */
.solverSettingsContainer {
  /* min-width: 670px; */
  width: 100%;
  /* height: 100%; */
  /* height: 100%; */
  /* margin: 10px 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  background-color: #efeeee;
}

.solverSettingsTittle {
  /* width: 100%; */
  /* margin-bottom: 10px;
    padding: 0 16px 5px 16px;
    border-bottom: 1px solid black; */
  margin: 5px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.solverSettingsBody {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.constantLMContainer {
  min-width: 25%;
  width: 25%;
  margin: 2px 0;
  padding: 10px 2px 5px 2px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.radioConstantLMContainer {
  width: 75%;
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 2px 0 2px;
  /* font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.2; */
  /* border: 1px solid black; */
}

.radioSolverTittle {
  position: absolute;
  padding: 0 6px;
  top: 0%;
  left: 50%;
  background-color: #efeeee;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.constantLMInputContainer {
  min-width: 100px;
  width: 100px;
}

.constantLM {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
  color: black;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.constantLM::placeholder {
  font-size: 14px;
  text-align: center;
}

.radioDegreeContainer {
  min-width: 25%;
  width: 25%;
  margin: 5px 0;
  padding: 14px 2px 5px 2px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

/* Правая сторона страницы - Кнопка рассчёта */
.calculateContainer {
  min-width: 150px;
  width: 150px;
}

.calculateWrapper {
  width: 100%;
}

.calculate {
  width: 100%;
  min-height: 40px;
  height: 40px;
  /* display: block; */
  margin: 10px 0;
  padding: 5px 15px;
  /* background-color: rgb(87, 235, 255); */
  background-color: #76FF7A;
  border: 1px solid black;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.calculate:hover {
  background-color: #00A550;
}